<br>
<% if user_signed_in? %>
  <%= link_to "All post", root_path, class: 'btn btn-info btn-sm' %>
<br>
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
      <% if post.is_active? %>
        <li><%= post.title %></li>
      <% else %>
        <li><%= post.title %> - not active!</li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
